@media (max-width: 768px) {
  .notFound {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    height: 100vh;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 20px;
  }
}

@media (min-width: 769px) {
  .notFound {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    height: 100vh;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
